.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
/*иконки в навигации*/
.button-main {
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  }
.hero {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.sedona-description {
  text-align: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center top;
}
.sedona-description h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.sedona-description {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.advantages-list {
  list-style: none;
}
.advantages-item-town, .advantages-item-bridge {
  background-color: #83B3D3;
  width: 400px;
  height: 385px;
}
.advantages-item-square, .advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}
.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
}
.advantages-title-town,
.advantages-title-bridge  {
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-item-square,
.advantages-item-bridge {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.advantages-title-town,
.advantages-title-bridge  {
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description-town,
.advantages-description-bridge {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
 }
.advantages-title-square,
.advantages-title-road,
.advantages-title-tourists {
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description-square,
.advantages-description-road,
.advantages-description-tourists {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.recommendations {
  text-align: center;
}
.recommendations-for-tourists-list {
  list-style: none;
}
.recommendations-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.recommendations-description {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.recommendations-for-tourists-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  }
.recommendations-for-tourists-description {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.recommendations-accomodation,
.recommendations-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}
.recommendations-food {
  background-color:  #ffffff;
  width:  400px;
  height: 385px;
}
.hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.hotel-search-description {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.subscribe-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.subscribe-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
}
/*footer*/
.social-media {
   list-style: none;
}
.contact-phone a {
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
.inner-header {
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  }
.inner-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}
/* breadcrumbs dont change color to white*/
.breadcrumbs {
  fill: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}
.catalog-filter-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize
}
.control-input {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
.button-additional {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82B3D3;
}
  /*кнопка отменить не видна*/
.button-disabled {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  }
.hotels-filtered {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }
.search-result {
  font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}
.select-control {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.hotel-card {
  background-color: #ffffff;
}
.hotel-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.accomodation-type {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.hotel-card-price {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.button-selected {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}
.rating {
  color: #333333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
/*цвет звездочек не поменялся*/
.hotel-card .star {
  fill: #83B3D3;
}
.pagination-current {
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}
.dots {
  color: #000000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.subscribe-title-inner {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.subscribe-description-inner {
  color: #333333;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.subscribe-form-email-inner {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
