.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.main-container {
  flex-grow: 1;
}
.navigation {
  display: flex;
  width: 1060px;
  padding: 0 70px;
  margin: 0 auto;
}
.page-header-logo {
  width: 140px;
  margin-right: 30px;
}
.navigation-list {
  align-items: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 339px;
}
.navigation-user {
  display: flex;
  max-width: 268px;
  margin-left: auto;
  align-items: center;
}
.navigation-user :last-child {
  margin-left: auto;
}
.navigation-user .navigation-link {
  border: #7DB54F solid 0.1px;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}
.navigation-link {
  display: flex;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.button-main {
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 35px;
}
.hero {
  height: 485px;
  background-color: rgba(81, 135, 173);
  background-repeat: no-repeat;
}
.sedona-description {
  text-align: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 69px 0;
}
.sedona-description h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  text-align: center;
  margin: auto;
  gap: 20px;
}
.sedona-description {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  flex-wrap: wrap;
}
.advantages-item-town {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.advantages-item-bridge {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-direction: row-reverse;
}
.advantages-town-wrapper, .advantages-bridge-wrapper {
  background-color: #83B3D3;
  width: 230px;
  margin: 0;
  padding: 103px 85px;
}
/*.advantages-image-town {
  background-image: url("../images/sedona-main.jpg");
  width: 800px;
}
.advantages-image-mountains {
  background-image: url("../images/mountains-main.jpg");
  width: 800px;
}
*/
.advantages-item-square, .advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  padding: 103px 85px;
}
.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 230px;
  padding: 103px 85px;
  min-height: 179px;
}
.advantages-title-town, .advantages-title-bridge {
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: auto;
}
.advantages-item-square, .advantages-item-tourists {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  min-height: 179px;
}
.advantages-description-town, .advantages-description-bridge {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.advantages-title-square, .advantages-title-road, .advantages-title-tourists {
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: auto;
}
.advantages-description-square, .advantages-description-road, .advantages-description-tourists {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.recommendations-wrapper {
  text-align: center;
  margin: 64px 0;
}
.recommendations-for-tourists-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
}
.recommendations-for-tourists-item {
  max-width: 230px;
  min-height: 225px;
  padding: 80px 85px;
}
.recommendations-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 505px;
  margin: 0 auto;
}
.recommendations-description {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.recommendations-for-tourists-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.recommendations-for-tourists-description {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.recommendations-accomodation {
  background-image: url("../images/house-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  padding: 80px 85px;
}
.recommendations-food {
  background-image: url("../images/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 230px;
  padding: 80px 85px;
}
.recommendations-souvenirs {
  background-image: url("../images/souvenir-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  padding: 80px 85px;
}
.hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
}
.hotel-search-wrapper {
  width: 590px;
  margin: auto;
  text-align: center;
}
.hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.hotel-search-description {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 54px;
}
.button-main-large {
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  border: none;
}
.subscribe-field {
  display: flex;
  flex-direction: column;
  height: 215px;
  padding-left: 304px;
  padding-right: 304px;
  padding-top: 96px;
  padding-bottom: 104px;
  margin: 0;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-color: rgb(58, 99, 120);
}
.subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}
.subscribe-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 54px;
}
.subscribe-form-email {
  display: flex;
  justify-content: center;
  margin: 0;
}
.email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 412px;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border: none;
}
.subscribe-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  min-width: 132px;
  padding: 8px 50px;
}
/*footer*/
.page-footer-container {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1060px;
}
.footer-contacts {
  margin: 0 auto;
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
}
.social-media {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0;
  width: 142px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.social-media-item {
  padding: 0 10px;
}
.contact-phone a {
  display: flex;
  margin: 0;
  padding: 5px 195px;
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
.inner-header {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0;
  width: 1060px;
  padding: 70px;
  padding-top: 35px;
  height: 307px;
}
.inner-header-title {
  margin: 0;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}
fieldset {
  border: none;
}
.hotels-catalog {
  margin-bottom: 40px;
}
.breadcrumbs {
  list-style-type: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  display: flex;
  width: 114px;
  justify-content: space-between;
  padding: 0;
}
.catalog-filters-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
}
.catalog-filters-container-left {
  display: flex;
  margin: 0;
  width: 371px;
  align-items: end;
  justify-content: space-between;
}
.catalog-filters-container-right {
  display: flex;
  width: 549px;
  align-items: end;
  margin: 0;
  justify-content: space-between;
}
.catalog-accomodation {
  display: flex;
  align-items: end;
}
.infrastructure {
  margin: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
}
.accomodation {
  margin: 0;
  width: 141px;
  display: flex;
  flex-direction: column;
}
.catalog-filter-list {
  margin-top: 0;
  margin-bottom: 0;
  gap: 16px;
}
.catalog-filter-group {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.price {
  margin: 0;
  height: 151px;
}
.price-filter {
  display: flex;
  margin-bottom: 36px;
  height: 48px;
}
.price-filter input {
  width: 103px;
  padding: 12px 20px;
  text-align: right;
}
.catalog-accomodation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}
.catalog-filter-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 32px;
}
.catalog-filter-title-price {
  margin-bottom: 0;
}
.catalog-filter-list {
  list-style-type: none;
  display: flex;
  width: 150px;
  margin-right: 70px;
  flex-direction: column;
  padding: 0;
}
.control-input {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 191px;
  margin: 0;
}
.button-additional {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  text-align: center;
  background-color: #82B3D3
}
.button-disabled {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}
.search-hotels {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
  height: 49px;
}
.hotels-filtered {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.view-modes-wrapper {
  margin: 0;
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
}
.user-menu-view-mode {
  padding: 14px 12px;
  border: 2px solid #E5E5E5;
}
.user-menu-view-mode-active {
  margin: 0;
  padding: 14px 12px;
  border: 2px solid #000000;
}
.search-result {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.select-control {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  height: 49px;
}
.hotel-list {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 17px;
}
.hotel-card {
  border: 1px solid #E6E6E6;
  background-color: #ffffff;
  list-style-type: none;
  width: 300px;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.hotel-card-link {
  display: flex;
  flex-wrap: wrap;
}
.hotel-card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}
.hotel-card-image {
  margin-bottom: 16px;
  order: -1;
}
.card-wrapper-upper {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 21px;
}
.card-wrapper-middle {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 37px;
  gap: 20px;
}
.card-wrapper-bottom {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 36px;
}
.stars {
  gap: 0;
}
.accomodation-type {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.hotel-card-price {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.button-selected {
  padding: 8px 35px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}
.rating {
  color: #333333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  text-align: center;
}
.pagination {
  display: flex;
  width: 1060px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 0;
  align-items: center;
  gap: 8px;
}
.pagination-items {
  display: flex;
  padding-left: 0;
  gap: 8px;
}
.pagination-item {
  background-color: #82B3D3;
  width: 60px;
  height: 36px;
  padding-top: 11.4px;
  padding-bottom: 12.6px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
}
.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 60px;
  height: 36px;
  padding-top: 11.4px;
  padding-bottom: 12.6px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 8px;
}
.dots {
  color: #000000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  background-color: #ffffff;
  width: 60px;
  height: 36px;
  padding-top: 16px;
  padding-bottom: 18px;
  margin: 0;
  text-align: center;
}
.pagination-item-current {
  background-color: #F2F2F2;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}
subscribe-inner {
  width: 684px;
  margin: 0 auto;
}
.subscribe-field-inner {
  display: flex;
  flex-direction: column;
  width: 684px;
  min-height: 215px;
  padding-left: 258px;
  padding-right: 258px;
  padding-top: 96px;
  padding-bottom: 104px;
  margin: 0;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
.subscribe-title-inner {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}
.subscribe-description-inner {
  color: #333333;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}
.subscribe-form-email-inner {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0;
}
